*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
body{
    background:  #8888ec1c;
}
/* shared style */
.orange-bold{
    color:#E95A08 ;
}
.font-noto{
    font-family: Noto serif;
}
.p-color{
    font-size: 1.3rem;
    color:rgba(0, 0, 0, 0.5) ;
    margin-top: 13px;
}
.btn{
    background:  #E95A08;
    color: #FFFFFF;
    margin-top:10px ;
    padding: 20px 0;
    border: 1px solid #E95A08;
    transition: .5s;
    width: 75%;
}
.btn:hover{
    transform: scale(1.2);
}
/* header */
.navbar{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.logo{
    width:8.5rem;
    cursor: pointer;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul li{
     list-style: none;
     margin-left: 48px;
}
.navbar ul li a{
    text-decoration: none;
    color:#8987A1;
    line-height: 24px;
    
}
.nav-bold{
    font-weight: bold;
    color:#252432 ;
}
/* banner */
.banner{
    width: 80%;
    margin: auto;
   
}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7.5rem;
}
.banner-title{
    margin-top:8rem ;
    width: 35.62rem;
    height: 18rem;

}
.banner-title h1{
    font-weight: bold;
    font-size: 4.3rem;

}
.banner-img{
    width:35.62rem;
}
/* plants */
.plants{
    width: 80%;
    margin: auto;
}
.section-title{
    margin-top:7.5rem ;
    text-align: center;
    margin-bottom: 3rem;
}
.section-title h2{
    font-size: 3.2rem;
    font-weight: bold;

}
.plants-container{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    gap: 1.87rem;
}
.plants-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.plants-card h5{
    font-size: 1.3rem;
    line-height: 150%;
    margin-top: 2rem;
    font-weight: 500;
}
.plants-card h4{
    font-size: 1.8rem;
    line-height: 150%;
    margin: 1rem;
    font-weight:bold;
}
/* plant-lover */
.plant-lover{
    width: 80%;
    margin: auto;
}
.lover-container{
    margin-top: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
}
.store{
    width: 40.75rem;
    height: 44.68rem;
    margin-left: 50px;

}
.badge{
    width: 17.8rem;
    position: absolute;
    top: -120px;
    left: 480px;
}
.plant-text {
     margin-left: 50px;
     
     text-align: left;
   
}
.plant-text li{
    margin-top: 40px;
}
/* latest-deal
 */
 .latest-deal{
    width: 80%;
    margin: auto;
 }
 .latest-deal-countainer{
   display: flex;
   align-items: center;
   justify-content: center;

 }
 .deal-card a{
     color: #FFFFFF;
     
 }
 
 .deal-card-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) , url(assets/deal-ana.png);
    width:22.81rem;
    height: 12rem;
    color: #FFFFFF;
    text-align: center;
    padding: 65px 50px;
    border-radius: 14px;
   
 }
 .deal-card-1 h3 ,
 .deal-card-3 h3{
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 20px;
 }
 .deal-card-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) , url(assets/deal-zabo.png);
    width: 47rem;
    height: 26.43rem;
    text-align: center;
    padding: 65px 50px;
    color: #FFFFFF;
    margin-left: 28px;
    border-radius: 14px;
    
 }
 .deal-card-2 h3 {
           font-size: 2.5rem;
           padding-bottom: 20px;
           font-weight: bold;
           padding-top: 150px;
 }
 .deal-card-2 a{
    color: #FFFFFF;
    font-size: 1.3rem;
    font-weight: 500;
    padding-top: 10px;
 }
 .deal-card-3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) , url(assets/deal-bloom.png);
     width: 22.81rem;
    height: 12rem;
    text-align: center;
    padding: 65px 50px;
    color: #FFFFFF;
    margin-top: 25px;
    border-radius: 14px;
 }
 /* brunch */
 .brunch{
    height:33.31rem ;
    margin: auto;
    margin-top:120px ;
 }
 .brunch-container{
    background-image: url(assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-position: cover;
    width: 100%;
    background-size: 100vw;
    text-align: center;
    padding: 200px 305px;
 }
 .brunch-container h2{
    font-weight: bold;
    font-size: 3.12rem;
    padding-bottom: 23px;
    color: #FFFFFF;
 }
 .brunch-container input{
    padding:15px 540px 15px 20px;
    
 }
 .brunch-container .btn{
    padding:15px 20px;
    width: 10%;
 }