*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter{
  font-family: "Inter", sans-serif;
  font-weight: 300;
}
 
body{
    background: #F5F8FF;
}
/* shared style */
.orange-bold{
    color:#E95A08 ;
}
.font-noto{
    font-family: Noto serif;
}

.p-color{
    font-size: 1.3rem;
    color:rgba(0, 0, 0, 0.5) ;
    margin-top: 13px;
}
.btn{
    background:  #E95A08;
    color: #FFFFFF;
    margin-top:10px ;
    padding: 20px 0;
    border: 1px solid #E95A08;
    transition: .5s;
    width: 100%;
}
.btn:hover{
    transform: scale(1.2);
}

/* header */
.navbar{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.logo{
    width:8.5rem;
    cursor: pointer;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul li{
     list-style: none;
     margin-left: 48px;
     transition: .5s;
}
.navbar ul li a{
    text-decoration: none;
    color:#8987A1;
    line-height: 24px;
    cursor: pointer;
    font-size: 1rem;
    transition: .5s;
    
}
.navbar ul li:hover{
    transform: scale(1.5);
}
.navbar ul li a:hover{
    color: #E95A08;
}

.nav-bold{
    font-weight: bold;
    color:#252432 ;
}
/* banner */
.banner{
    width: 80%;
    margin: auto;
   
}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7.5rem 0;
}
.banner-title{
    margin-top:8rem ;
    width: 35.62rem;
    height: 18rem;

}
.banner-title h1{
    font-weight: bold;
    font-size: 4.3rem;

}
.banner-img img{
    width:100%;
}
/* plants */
.plants{
    width: 80%;
    margin: auto;
}
.section-title{
    
    text-align: center;
    width: 80%;
    margin: auto;
}
.section-title h2{
    font-size: 3.2rem;
    font-weight: bold;

}
.plants-container{
    display: grid;
    grid-template-columns: repeat(4,2fr);
    gap: 1.87rem;
    margin: 3rem 0;
}
.plants-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.plants-card img{
    width: 100%;
    height: auto;
}
.plants-card h5{
    font-size: 1.3rem;
    line-height: 150%;
    margin-top: 2rem;
    font-weight: 500;
}
.plants-card h4{
    font-size: 1.8rem;
    line-height: 150%;
    margin: 1rem;
    font-weight:bold;
}
/* plant-lover */
.plant-lover{
    width: 80%;
    margin: auto;
}
.lover-container{
    margin:13rem 0 8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.store{
    width: 40.75rem;
    height: 44.68rem;
    

}
.badge{
    width: 17.8rem;
    position: absolute;
    top: -120px;
    left: 430px;
    animation:  spin 10s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.plant-text {
     margin-left: 50px;
     width: 100%;
     text-align: left;
   
}
.plant-text ul{
    margin-left: 3rem;
}
.plant-text li{
    margin-top: 40px;
}
/* latest-deal
 */
 .latest-deal{
    width: 80%;
    margin:3rem auto;
 }
 .latest-deal-countainer{
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 3rem 0;

 }
 .deal-card a{
     color: #FFFFFF;
     transition: .5s;
 }
 .deal-card a:hover{
     color:#E95A08;
     
 }
 .deal-card{
    width: 33.33%;
 }
 
 
 .deal-card-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) , url(assets/deal-ana.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
    padding: 65px 50px;
   border-radius: 14px;
     width: 100%;
     max-width: 100%;
     height: auto;
   
 }
 .deal-card-1 h3 ,
 .deal-card-3 h3{
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 20px;
 }
 .deal-card-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) , url(assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
     width: 66.67%;
     max-width: 100%;
     height: auto;
    text-align: center;
    padding: 125px 50px;
    color: #FFFFFF;
    margin-left: 28px;
    border-radius: 14px;
    
 }
 .deal-card-2 h3 {
           font-size: 2.5rem;
           padding-bottom: 20px;
           font-weight: bold;
           padding-top: 60px;
 }
 .deal-card-2 a{
    color: #FFFFFF;
    font-size: 1.3rem;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 95px;
    transition: .5s;
 }
 .deal-card-2 a:hover{
    color: #E95A08;
 }

 .deal-card-3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) , url(assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
     width: 100%;
     max-width: 100%;
     height: auto;
    text-align: center;
    padding: 65px 50px;
    color: #FFFFFF;
    margin-top: 25px;
    border-radius: 14px;
 }
 /* brunch */
 .brunch{
    height:33.31rem ;
    margin:120px auto 0 auto;
   
 }
 .brunch-container{
    background-image: url(assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-position: cover;
    width: 100%;
    background-size: 100vw;
    text-align: center;
    padding: 200px 305px;
 }
 .brunch-container h2{
    font-weight: bold;
    font-size: 3.12rem;
    padding-bottom: 23px;
    color: #FFFFFF;
 }
 .brunch-container input{
    padding:15px 540px 15px 20px;
    border: none;
    
 }
 .brunch-container .btn{
    padding:15px 20px;
    width: 10%;
 }
 footer{
    background:  #FFFFFF;
    padding: 50px 160px;
 }
 .footer-container{
    display: flex;
    justify-content: space-between;
    align-items:normal;
    margin: auto;
 }
.footer-logo{
    width: 22.43rem;
    margin-bottom: 1.5rem;
}
.footer-link li{
    list-style: none;
    margin-bottom: 32px;
    transition: .5s;
}
.footer-link li:hover{
   transform:scale(1.3) ;
}
.footer-link a{
    color:#6B7280 ;
    text-decoration: none;
    transition: .5s;
}
.footer-link a:hover{
    color:#E95A08 ;
   
}
.twitter{
   margin-bottom: 10px;
}
.footer-icon img{
    margin-left: 24px;
    transition: .5s;
}
.footer-icon img:hover{
    transform: scale(1.3);
}

@media screen and (max-width:576px){
    .logo{
        width: 3.93rem;
    }
    .gayebul{
        display: none;
    }
    .navbar ul li a{
    color:#000000;
    font-weight: 400; 
    font-size: .9rem;
   
}
.navbar ul li {
    margin: 0;
}
.banner-container{
   flex-direction: column-reverse;
   margin: 2rem 0;
   
}
.banner-title{
    margin-top:1.73rem ;
     height: 12rem;
    text-align: left;
    width:100%;
}
.banner-title h1{
    font-weight: bold;
    font-size: 2.5rem;

}
.banner-img img{
    width:100%;
    margin-left: 40px;
}

.p-color{
    font-size: .9rem;
}
.section-title{
    margin:1rem auto;
    text-align: center;
    
}

.section-title h2{
    font-size: 2rem;
}
.plants-container{
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin: 0;
}
.plants-card h5{
    font-size: 1rem;
    line-height:auto;
    margin-top: 20px;
   
}
.plants-card h4{
    font-size: 1rem;
    margin: 10px;
    
}
.btn{
    margin-top:10px ;
    padding: 10px 0;
   
}

.lover-container,
.latest-deal-countainer{
   margin: 2.5rem auto;
   flex-direction: column;
  
}
.lover-container img{
    width: 100%;
    height: 100%;
}
.badge{
   display: none;
}
.plant-text {
     margin-left: 0px;
     text-align: left;
   
}
.plant-text ul{
    margin-left: 2rem;
}
.plant-text li{
    margin-top: 1rem;
}
.deal-card{
    width: 100%;
    height: auto;
    margin:0 auto 1rem auto;
 }
 .deal-card-2 {
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 65px 50px;
    color: #FFFFFF;
    margin-left: 0;
    border-radius: 14px;
 }
 .deal-card-2 h3 {
    font-size: 1.25rem;
    padding: 1rem 0;
 }
 .deal-card-2 a{
    font-size: 1rem;
    padding-top: 10px;
 }


 .brunch{
    height:auto;
    margin: auto;
    margin-top:40px ;
 }
 .brunch-container{
    padding: 50px 16px 30px 16px;
 }
 .brunch-container h2{
    font-size:1.5rem;
    padding-bottom: 10px;
    
 }
 .brunch-container input{
    padding:10px 50px 10px 20px;
    
 }
 .brunch-container .btn{
    padding:13px 50px 11px 10px;
    margin: 0;
    font-size: 10px;
 }

 footer{
    padding: 2rem 1rem;
 }
 .footer-container{
    flex-direction: column;
 }
 .footer-logo img{
    width: 9.43rem;
 }
.footer-icon img{
    margin-right: 24px;
    margin-left: 0;
    cursor: pointer;
}

    
}